.container.contact_container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact_info-items {
  margin-top: 20px;
}
.contact_info-items p {
  font-size: 12px;
  color: var(--color-light);
}

.icon {
  color: var(--color-primary);
  transition: var(--transition);
}

.contact_info-social {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  /* position: absolute; */
}

.contact_info-social::before {
  content: "";
  width: 1.5rem;
  height: 1px;
  background: var(--color-primary);
}

.contact_info-social::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background: var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: var(--color-primary);
  margin-top: 8rem;
}

/* ======================MEDIA QUERIES (MEDIUM DEVICES) ================== */
@media screen and (max-width: 1024px) {
  .container.contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ======================MEDIA QUERIES (SMALL DEVICES) ================== */
@media screen and (max-width: 600px) {
  .container.contact_container {
    width: var(--container-width-sm);
  }
}
