.skill_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.skill_container > div {
  background: var(--color-bg-variant);
  padding: 2rem 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.skill_container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.skill_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skill_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.skill_details {
  display: flex;
  gap: 1rem;
}

.skill_details h4 {
  max-width: 100px;
}

.skill_details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* ======================MEDIA QUERIES (MEDIUM DEVICES) ================== */
@media screen and (max-width: 1024px) {
  .skill_container {
    grid-template-columns: 1fr;
  }

  .skill_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skill_content {
    padding: 1rem;
  }
}

/* ======================MEDIA QUERIES (SMALL DEVICES) ================== */
@media screen and (max-width: 600px) {
  .skill_container {
    gap: 1rem;
  }
}
